body {
    background: #ffe;
}
main {
    font-size: large;
    color:olivedrab;
}
li {
    background-color: #f0e0d6;
    border-color: #d9bfb7;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: #d9bfb7;
    color: #800000;
}

pre {
    white-space:pre-wrap;
}

.green-text {
    color:darkolivegreen;
}

footer {
    background: transparent;
}
